oderi<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<div class="bg-white rounded-lg overflow-hidden w-52 shadow-md text-center" th:fragment="card(barbearia)">
    <div th:if="${barbearia != null}">
        <a th:href="@{'/negocios/perfil/' + ${barbearia.id}}">
            <img th:src="${#strings.isEmpty(barbearia.urlFotoPerfil) == false} ? barbearia.urlFotoPerfil : 'https://i.pinimg.com/736x/ba/92/7f/ba927ff34cd961ce2c184d47e8ead9f6.jpg'" th:alt="${barbearia.nome}" class="w-full h-36 object-cover" />
            <p class="p-2 text-sm">
                <strong th:text="${barbearia.nome}">Nome da Barbearia</strong><br>
                <span class="text-gray-600" th:text="${barbearia.telefone}">Telefone</span>
            </p>
        </a>
    </div>
    <div th:if="${barbearia == null}">
        <p>Informações da barbearia indisponíveis.</p>
    </div>
</div>
</body>
</html>