<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<div class="bg-black inline-block rounded-xl overflow-hidden shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition duration-300 ease-in-out" th:fragment="card(barbearia)">
    <div th:if="${barbearia != null}">
        <a th:href="@{'/negocios/perfil/' + ${barbearia.id}}" class="block">
            <img th:src="${#strings.isEmpty(barbearia.urlFotoPerfil) == false} ? ${barbearia.urlFotoPerfil} : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'"
                 th:alt="${barbearia.nome}"
                 class="w-full h-40 object-cover object-center rounded-t-xl" />
            <div class="p-4 text-center">
                <h3 class="text-xl font-semibold text-gray-900 truncate" th:text="${barbearia.nome}">Nome da Barbearia</h3>
                <p class="text-sm text-gray-600 mt-1" th:text="${barbearia.telefone}">Telefone</p>
            </div>
        </a>
    </div>
    <div th:if="${barbearia == null}" class="p-4 text-center text-gray-500">
        <p>Informações da barbearia indisponíveis.</p>
    </div>
</div>
</body>
</html>